.scrollit {
    overflow-y:scroll;
    height:400px;
}
table,td {
    border: 1px solid gray;
    border-collapse: collapse;
}
td {
    padding: 10px;
}
#table-wrapper {
    position:relative;
  }
#table-scroll {
    height:150px;
    overflow:auto;  
    /* margin-top:20px; */
  }
#table-wrapper table {
    width:100%;
  
  }
#table-wrapper table * {
    background: burlywood;
    color:black;
  }
#table-wrapper th {
    position:sticky; top: 0; z-index: 1;
    border: 1px solid gray;
    /* border:2px solid whitesmoke; */
  } 