.scrollit {
    overflow-y:scroll;
    height:400px;
}
table, th ,td {
    border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
#table-wrapper {
    position:relative;
  }
#table-scroll {
    height:150px;
    overflow:auto;  
    margin-top:20px;
  }
#table-wrapper table {
    width:100%;
  
  }
#table-wrapper table * {
    background: burlywood;
    color:black;
  }
#table-wrapper table thead th .text {
    position:fixed;
      
    border:2px solid whitesmoke;
  }