@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.scrollit {
    overflow-y:scroll;
    height:400px;
}
table,td {
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
td {
    padding: 20px;
}
#table-wrapper {
    position:relative;
  }
#table-scroll {
    height: 300px;
    overflow:auto;  
    /* margin-top:20px; */
  }
#table-wrapper table {
    width:100%;
  
  }
#table-wrapper table * {
    background: #D3D3D3;
    color:black;
  }
#table-wrapper th {
    position:sticky; top: 0; z-index: 1;
    border: 1px solid gray;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
  } 
h1, h2 {
  font-family: 'Montserrat', sans-serif;

}